
bin/Debug/WpfApp21.exe
bin/Debug/WpfApp21.pdb
MainWindow.xaml
obj/Debug/App.baml
obj/Debug/App.g.cs
obj/Debug/App.g.i.cs
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/MainWindow.baml
obj/Debug/MainWindow.g.cs
obj/Debug/MainWindow.g.i.cs
obj/Debug/Sample7.csproj.CoreCompileInputs.cache
obj/Debug/Sample7.csproj.FileListAbsolute.txt
obj/Debug/Sample7.csproj.GenerateResource.cache
obj/Debug/Sample7.csprojAssemblyReference.cache
obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
obj/Debug/WpfApp21.exe
obj/Debug/WpfApp21.pdb
obj/Debug/WpfApp21_MarkupCompile.cache
obj/Debug/WpfApp21_MarkupCompile.i.cache
obj/Debug/WpfApp21_MarkupCompile.i.lref
obj/Debug/WpfApp21_MarkupCompile.lref
